@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}

div {
  height:100%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-content {
  margin: auto;
}

h1 {
  padding: 1em;
}

footer {
  color: rgb(165, 171, 177);
}
