@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.main-content {
  margin: 2rem auto;
}

footer {
  color: rgb(165, 171, 177);
}
