.h-custom {
  height: calc(100% - 73px);
}

.signUp-main {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
